@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}

<h1 class="text-danger">Error.</h1>
<h2 class="text-danger">An error occurred while processing your request.</h2>



List <Group>
    groups = new List<Group>
        ();
        foreach (var u in db.Groups)
        {
        groups.Add(u);
        }

        return View(groups);
