@using Microsoft.AspNet.Identity
@model IEnumerable<FYP.Models.User>
@{
    ViewBag.Title = "Start learning directions!";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<h2>Start learning directions!</h2>
<h3>Start Page of the Directions Classes, Learning options to be listed here</h3>

<style>
    .column {
        float: left;
        width: auto;
        padding: 5px;
    }

    .column-tic {
        float: left;
        width: auto;
        padding: 10px;
    }

    .column-tic2 {
        float: left;
        width: auto;
        padding: -5px;
    }
</style>
<h5>Class Progress:</h5>
@if (User.Identity.IsAuthenticated == true)
{

    foreach (var item in Model)
    {
        if (User.Identity.GetUserName() == item.UserName)
        {

            if (item.quiz1 == true && item.quiz2 == true && item.quiz3 == true)
            {
                <div class="progress">
                    <div class="progress-bar progress-bar-striped active" role="progressbar"
                         aria-valuemin="0" aria-valuemax="100" style="width:100%">
                        100%
                    </div>
                </div>
            }
            else if (item.quiz1 == true && item.quiz2 == true)
            {
                <div class="progress">
                    <div class="progress-bar progress-bar-striped active" role="progressbar"
                         aria-valuemin="0" aria-valuemax="100" style="width:66%">
                        66%
                    </div>
                </div>
            }
            else if (item.quiz1 == true)
            {
                <div class="progress">
                    <div class="progress-bar progress-bar-striped active" role="progressbar"
                         aria-valuemin="0" aria-valuemax="100" style="width:33%">
                        33%
                    </div>
                </div>
            }
            else
            {
                <div class="progress">
                    <div class="progress-bar progress-bar-striped active" role="progressbar"
                         aria-valuemin="0" aria-valuemax="100" style="width:0%">
                        No Progress Yet!
                    </div>
                </div>
            }
        }
    }
}
<body>


    @foreach (var item in Model)
    {
        if (User.Identity.GetUserName() == item.UserName)
        {
            if (item.quiz1 == true && item.quiz2 == true && item.quiz3 == true)
            {
                <div class="row">
                    <div class="column">
                        <a role="button" class="btn btn-primary btn-lg disabled" href="~/Class/DirectionsP1">
                            The Basics
                        </a>
                    </div>
                    <div class="column-tic">
                        <img src="~/Images/tick.jpg" style="width:28px;height:28px;" />
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="column">
                        <a role="button" class="btn btn-primary btn-lg disabled" href="~/Class/DirectionsP2">
                            Constructing Sentences
                        </a>
                    </div>
                    <div class="column-tic">
                        <img src="~/Images/tick.jpg" style="width:28px;height:28px;" />
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="column">
                        <a role="button" class="btn btn-primary btn-lg disabled" href="~/Class/DirectionsP3">
                            Expanding Vocab
                        </a>
                    </div>
                    <div class="column-tic">
                        <img src="~/Images/tick.jpg" style="width:28px;height:28px;" />
                    </div>
                </div>
            }
            else if (item.quiz1 == true && item.quiz2 == true)
            {
                <div class="row">
                    <div class="column">
                        <a role="button" class="btn btn-primary btn-lg disabled" href="~/Class/DirectionsP1">
                            The Basics
                        </a>
                    </div>
                    <div class="column-tic">
                        <img src="~/Images/tick.jpg" style="width:28px;height:28px;" />
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="column">
                        <a role="button" class="btn btn-primary btn-lg disabled" href="~/Class/DirectionsP2">
                            Constructing Sentences
                        </a>
                    </div>
                    <br />
                    <div class="column-tic2">
                        <img src="~/Images/tick.jpg" style="width:28px;height:28px;" />
                    </div>
                </div>
                <br />
                <div class="row">
                    <a role="button" class="btn btn-primary btn-lg" href="~/Class/DirectionsP3">
                        Expanding Vocab
                    </a>
                </div>
            }
            else if (item.quiz1 == true)
            {
                <div class="row">
                    <div class="column">
                        <a role="button" class="btn btn-primary btn-lg disabled" href="~/Class/DirectionsP1">
                            The Basics
                        </a>
                    </div>
                    <div class="column-tic">
                        <img src="~/Images/tick.jpg" style="width:28px;height:28px;" />
                    </div>
                </div>
                <br />
                <div class="row">
                    <a role="button" class="btn btn-primary btn-lg" href="~/Class/DirectionsP2">
                        Constructing Sentences
                    </a>
                </div>
                <br />
                <div class="row">
                    <a role="button" class="btn btn-primary btn-lg disabled" href="~/Class/DirectionsP3">
                        Expanding Vocab
                    </a>
                </div>
            }
            else
            {
                <div class="row">
                    <a role="button" class="btn btn-primary btn-lg" href="~/Class/DirectionsP1">
                        The Basics
                    </a>
                </div>
                <br />
                <div class="row">
                    <a role="button" class="btn btn-primary btn-lg disabled" href="~/Class/DirectionsP2">
                        Constructing Sentences
                    </a>
                </div>
                <br />
                <div class="row">
                    <a role="button" class="btn btn-primary btn-lg disabled" href="~/Class/DirectionsP3">
                        Expanding Vocab
                    </a>
                </div>

            }
        }
    }

</body>
