
@{
    ViewBag.Title = "ResultsD1";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Results of Directions Intro</h2>

<body>
    <div>
        <h1>Your score is @TempData["Score"]</h1>
        <br />
        <h1>Your Progress will be updated. Will have to try again if not 4/4</h1>
    </div>

    <div>
        <a role="button" class="btn btn-primary btn-lg" href="~/Class/DirectionStart">
            Return to Directions Home
        </a>
    </div>
</body>

