
@{
    ViewBag.Title = "ResultsS3";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Toradh an Scrúdú: Foclóir a leathnu</h2>

<body>

  
        @if (Convert.ToInt32(TempData["Score6"]) == 5)
        {
            <div>

                <h1>Fuair tú @TempData["Score6"] as 5.</h1>
                <br />
                <h1>Beidh do feabhas shabhálte.</h1>
            </div>

        }
        else
        {
            <div>
                <h1>Ní fuair tú ach @TempData["Score6"]/5. Beidh ort 5/5 a fháil chun dul chun cinn.</h1>
                <br /> <h2>Ceisteanna Mícheart:</h2>
                <h3>@Html.Raw(TempData["Wrong Answers6:"])</h3>
            </div>
        }
   

        <div>
            <a role="button" class="btn btn-primary btn-lg" href="~/Class/SportStart">
                Go leathanach baile sport
            </a>
        </div>

    </body>

