
@{
    ViewBag.Title = "Learning Home";
}

<h2>Learning Home Page</h2>
<style>
    .fop-searchbox {
        position: relative;
        left: 70%;
        top: -40px;
    }

    .fop-submit-btn {
        width: 80px;
        bottom: 10px;
        border-radius: 25px;
    }
    
    
</style>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>


<body onload="setupSearchBox('formname', 'https://www.focloir.ie/', 'en');">

    <div class="row">

        <form class="fop-searchbox" id="formname" name="formname" method="get" autocomplete="off">
            <input class="fop-textbox" name="q" placeholder="Search an English word..." type="text" ; />
            <input class="fop-submit-btn" type="image" value="Search" src="~/Images/search.jpg" ; />
        </form>
    </div>
    <br />

    <div class="row">
        <div class="column">
            <a role="button" class="btn btn-primary btn-lg" href="~/Class/DirectionStart">
                Asking For Directions
            </a>
        </div>
        <br />
        <div class="column">
            <a role="button" class="btn btn-primary btn-lg" href="~/Class/FootballStart">
                Listening to Football
            </a>
        </div>
        <br />
    </div>



</body>


