@using Microsoft.AspNet.Identity
@model IEnumerable<FYP.Models.User>
@{
    ViewBag.Title = "Learning Home";
}

<h2>Choose a Lesson</h2>
<style>
    .fop-searchbox {
        position: relative;
     
        top: -40px;
    }

    .fop-submit-btn {
        width: 80px;
        bottom: 10px;
        border-radius: 25px;
    }
</style>

<style>

    .row{
        float:left; 
    }

    .row2{
        float:right;
    }


    .column {
        float: left;
        width: auto;
        padding: 5px;
    }

    .column-tic {
        float: left;
        width: auto;
        padding: 10px;
    }

    .column-tic2 {
        float: left;
        width: auto;
        padding: -5px;
    }
</style>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>


<body onload="setupSearchBox('formname', 'https://www.focloir.ie/', 'en');">

    <div class="row2">
        <form class="fop-searchbox" id="formname" name="formname" method="get" autocomplete="off">
            <input class="fop-textbox" name="q" placeholder="Search an English word..." type="text" ; />
            <input class="fop-submit-btn" type="image" value="Search" src="~/Images/search.png" style="width:20px;height:20px" />
        </form>
    </div>
    <br />

  

                    <br />
                    <br />

                 <br />
                    <div class="row">
                                <a href="~/Class/DirectionStart">
                                    <img border="0" alt="Directions" src="~/Images/Directions.png" width="300" height="300" title="Learning Directions">
                                </a><br />
                        
                    </div>
                   <div class="row2">
                                <a href="~/Class/SportStart">
                                    <img border="0" alt="Directions" src="~/Images/sport.png" width="600" height="300" title="Listening to Sport">
                                </a><br />
                    </div>
             


</body>


