@using Microsoft.AspNet.Identity
@model IEnumerable<FYP.Models.User>
@{
    ViewBag.Title = "Learning Home";
}

<h2>Learning Home</h2>
<style>
    .fop-searchbox {
        position: relative;
        left: 70%;
        top: -40px;
    }

    .fop-submit-btn {
        width: 80px;
        bottom: 10px;
        border-radius: 25px;
    }
</style>

<style>
    .column {
        float: left;
        width: auto;
        padding: 5px;
    }

    .column-tic {
        float: left;
        width: auto;
        padding: 10px;
    }

    .column-tic2 {
        float: left;
        width: auto;
        padding: -5px;
    }
</style>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>


<body onload="setupSearchBox('formname', 'https://www.focloir.ie/', 'en');">

    <div class="row">
        <form class="fop-searchbox" id="formname" name="formname" method="get" autocomplete="off">
            <input class="fop-textbox" name="q" placeholder="Search an English word..." type="text" ; />
            <input class="fop-submit-btn" type="image" value="Search" src="~/Images/search.png" style="width:20px;height:20px" />
        </form>
    </div>
    <br />

    @if (User.Identity.IsAuthenticated == true)
    {

        foreach (var item in Model)
        {
            if (User.Identity.GetUserName() == item.UserName)
            {
                if (item.quiz1 == true && item.quiz2 == true && item.quiz3 == true && item.quiz4 == true && item.quiz5 == true && item.quiz6 == true)
                {

                    <div class="row">
                        <div class="column">
                            <a role="button" class="btn btn-primary btn-lg" href="~/Class/DirectionStart">
                                Ag lorg Treoracha
                            </a>
                        </div>
                        <div class="column-tic">
                            <img src="~/Images/tick.jpg" style="width:28px;height:28px;" />
                        </div>
                    </div>

                    <br />
                    <div class="row">
                        <div class="column">
                            <a role="button" class="btn btn-primary btn-lg" href="~/Class/SportStart">
                                Ag Eisteacht le Sport
                            </a>
                        </div>
                        <div class="column-tic">
                            <img src="~/Images/tick.jpg" style="width:28px;height:28px;" />
                        </div>
                    </div>

                    
                }
                else if (item.quiz1 == true && item.quiz2 == true && item.quiz3 == true)
                {
                    <div class="row">
                        <div class="column">
                            <a role="button" class="btn btn-primary btn-lg" href="~/Class/DirectionStart">
                                Ag lorg Treoracha
                            </a>
                        </div>
                        <div class="column-tic">
                            <img src="~/Images/tick.jpg" style="width:28px;height:28px;" />
                        </div>
                    </div>

                    <br />
                    <div class="column">
                        <a role="button" class="btn btn-primary btn-lg" href="~/Class/SportStart">
                            Listening to Sport
                        </a>
                    </div>
                    <br />
                    <br />

                }
                else
                {
                    <div class="row">
                        <div class="column">
                            <a role="button" class="btn btn-primary btn-lg" href="~/Class/DirectionStart">
                                Asking for Directions
                            </a>
                        </div>
                        <br />
                        <div class="column">
                            <a role="button" class="btn btn-primary btn-lg" href="~/Class/SportStart">
                                Listening to Sport
                            </a>
                        </div>
                        <br />
                        <br />
                    </div>
                }
            }

        }
    }


</body>


